body {
  background: #3292a6;
}

.navbar {
  background: #3292a6;
  border-bottom: rgba(3, 68, 99, 0.335) 3px solid;
}

#home-section {
  background: url(../img/nirvana\heights.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 950px;
}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 950px;
  background: #6fa9b48f;
}
#home-section .home-inner {
  padding-top: 400px;
}

#home-section .card-form {
  opacity: 2.5;
}

#home-section #porfolio-section {
  color: #3292a6;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}

#about-section .fab,
#share-section .fas {
  background: #008ed6;
  color: #fff;
  padding: 2px;
  border-radius: 2px;
}
#about-img {
  margin-top: -50px;
}
.card:hover {
  background: #3292a6;
  color: #fff;
}
#about .fab {
  color: #fff;
}
.progress {
  height: 26px;
  margin: 0, 0, 15px, 0;
  font-size: 11pt;
}
.progress-bar {
  position: absolute;
  background: #3292a6;
  text-align: left;
}
.text-white {
  font-size: 1rem;
  background: #3292a6;
  color: white;
}

@media (min-width: 1199px) {
  .mb-resp {
    margin-bottom: 1rem;
  }
}

/* RESUME PAGE */

.header-container {
  background-image: url('../img/photo-2.jpg');
  color: #dfe2ea;
}

.resume-container {
}
.left-container {
  background: #3292a6;
}
.right-container {
  background: #d66700;
}

hr {
  background: #034668;
}

.fab {
  color: #fff;
}
.card-body {
  padding: 20px;
}
.card {
  padding: 0px;
  margin: 0px;
}
.col-lg-3 {
  padding-right: 0px;
}
.ed {
  list-style-type: square;
}

/* resume header */
a.home {
  color: #fff;
  text-decoration: none;
}
a.home:hover {
  color: #3292a6;
}
