/* INDEX */
body {
  background: #e9ced6;
}
/* NavBar */
.navbar {
  background: #153941;
  border-bottom: rgb(107, 61, 105) 3px solid;
}

/* Home Section */

#home-section {
  background: url(../img/nirvana\heights.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 950px;
}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 950px;
  background: #6fa9b48f;
}
#home-section .home-inner {
  padding-top: 400px;
}

#home-section .card-form {
  opacity: 2.5;
}

#home-section #porfolio-section {
  color: #3292a6;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}
.btn-outline-info {
  color: black;
  font-size: 1.5rem;
  border: opx;
  border-color: transparent;
  padding-top: 6px;
  padding-left: 12px;
  padding-bottom: 6px;
  padding-right: 12px;
}

/* About Section */
#about-head-section {
  background: #29707e;
  color: #fff;
}
#about-section,
#share-section .fas {
  background: #008ed6;
  color: #fff;
  padding: 2px;
  border-radius: 2px;
}
.card-img {
  margin-bottom: 5px;
  height: 173px;
}

.card:hover {
  background: #3292a6;
  color: #fff;
}

.progress {
  height: 37.5px;
  margin: 10px;
  font-size: 11pt;
}
.progress-bar {
  height: 37.5px;
  flex-direction: row;
  justify-content: center;
  background-color: #3292a6;
}

@media (min-width: 1199px) {
  .mb-resp {
    margin-bottom: 1rem;
  }
}

/* Portfolio Section */
#portfolio-head-section {
  background: #29707e;
}

/* RESUME PAGE */

/* HEADER */
.header-container {
  background-color: #29707e;
  color: #dfe2ea;
  height: 165px;
}
p.home-text {
  font-size: 14px;
  padding-left: 20px;
}
a.home {
  color: #fff;
  text-decoration: none;
  padding-left: 15px;
}
a.home:hover {
  color: #8311b1c9;
}

.header-img {
  height: 165px;
}
#imgHeader {
  position: absolute;
  right: 15px;
  margin-top: 4px;
  width: 25%;
  height: 155px;
}
/* LEFT SECTION */
.row {
  margin-right: 0px;
}
.col-lg-3 {
  padding-left: 20px;
}

.card {
  padding: 20px;
  margin: 0px;
}

.card-skills {
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: auto;
}
.card-projects {
  padding: 20px;
  padding-top: 0px;
  margin: auto;
  text-align: justify;
}
.title {
  margin-bottom: 0px;
  border: 20px;
  font-size: 28px;
}
h6,
h5 {
  text-decoration: underline;
  margin-bottom: 0px;
}

.lead-project,
p {
  padding: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  text-align: justify;
  font-size: 14px;
}
.fab {
  color: #fff;
}
.ed {
  list-style-type: square;
}

/* RIGHT SECTION */

.card-right {
  padding: 28px;

  border-right: 1px;
}
.lead {
  margin-bottom: 0px;
  text-align: justify;
}
.card-content {
  padding-right: 40px;
  font-size: 14px;
}
.card-title {
  padding-top: 13px;
}
hr {
  background: #034668;
}

/* Footer*/
.footer-container {
  height: auto;
  text-align: center;
  border-top: rgb(107, 61, 105) 3px solid;
}
.resume-footer {
  font-size: 1rem;
  background: #29707e;
  color: #fff;
}
.index-footer {
  background: #153941;
  color: #fff;
}
